pc_view_app/db_app_colors.xml
pc_view_app/db_cybersport_app_cpp.pro
pc_view_app/db_cybersport_app_cpp.pro.user
pc_view_app/db_cybersport_app_cpp.pro.user.4b0cd3e
pc_view_app/db_cybersport_app.pyproject
pc_view_app/db_cybersport_app.pyproject.user
